.Error-message {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 10px;
    background: red;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}