.Add {
    border: 1px solid #000;
    padding: 10px;
}

.Add__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.Add__row {
    margin-bottom: 10px;
}

.Add__row label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.Add__row input, .Add__row textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    font-size: 14px;
    height: 100px;
    resize: none;
}

.Add__row input:focus, .Add__row textarea:focus {
    border-color: orangered;
}

.Add__row input {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
}

button.Add__save {
    display: block;
    width: 200px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    color: #ffffff;
    font-size: 18px;
    border: none;
}

button.Add__save:hover {
    background: red;
}